main {
  padding:10px;
  background:lightgreen;
  font-family:"Arial,sans-serif";
}

h1 {
  color:red;
  font-size:20;
  text-align:center;
  border-bottom: 1px dotted dodgerblue;
}

h2 {
  color:blue;
  font-weight:bold;
  font-size:18;
  text-align:left;
}

p {
  color:black;
  font-size:15;
  text-align:left;
}
  
  
