body {
  background:beige;
  font-family:sans-serif;
}

main {
  width:100%;
  height:1000px;
}

.menu {
	display:inline-block;
	float:right;
	vertical-align:middle;
	line-height:1.5;
}

.button {
	display:inline;
	width:150px;
	height:30px;
	color:darkslategrey;
	background-color:palegreen;
	text-align:center;
	padding:2px;
	border:4px solid darkgreen;
}

.heading {
  border-bottom:2px dotted dodgerblue;
}

h1 {
  color:navy;
  font-size:100;
  font-family:'Brush Script MT',cursive;
  text-align:center;
}

h2 {
  color:navy;
  font-size:30;
  font-variant:small-caps;
  text-align:center;
}

h3 {
  color:darkolivegreen;
  font-weight:bold;
  font-size:24;
  text-align:left;
}

p {
  color:darkslategrey;
  font-size:20;
  text-align:left;
  margin-left:10px;
}

a {
  color:darkgreen;
} 

ul.a {
  list-style-type:square;
}

.line {
  border:3px solid darkgreen;
}
