body {
  background:beige;
  font-family:sans-serif;
}

main {
  width:1800px;
  height:700px;
}

.menu {
  float:right;
  outline-bottom:2px dotted dodgerblue;
  margin-bottom:10px;
}

.button {
  width:150px;
  height:30px;
  border:4px solid darkgreen;
  color:darkslategrey;
  background-color:palegreen;
  text-align:center;
  padding:2px;
  display:inline;
}

.heading {
  border-top:2px dotted dodgerblue;
  border-bottom:2px dotted dodgerblue;
}

h1 {
  color:navy;
  font-size:100;
  font-family:'Brush Script MT',cursive;
  text-align:center;
}

h2 {
  color:navy;
  font-size:30;
  font-variant:small-caps;
  text-align:center;
}

h3 {
  color:darkolivegreen;
  font-weight:bold;
  font-size:24;
  text-align:left;
}

p {
  color:darkslategrey;
  font-size:20;
  text-align:left;
  margin-left:10px;
}

a {
  color:darkgreen;
} 

ul.a {
  list-style-type:square;
}

.line {
  border:3px solid darkgreen;
}
